h1{
    color: red;
    font: bold;
}
div{
    height: 100px;
    background-color: aqua;
    color: red;
    width: 100px;
}
.dark-mode{
    background-color: black;
    color: white;
}
.light-mode{
    background-color: white;
    color: black;
}